.sidebar {
  width: 13.5%;
  float: left;
  background-color: rgb(243, 239, 239);
}

.main-div {
  width: 86.5%;
  float: right;
}


img {
  float: left;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  color: rgb(83, 83, 228)
}

.ul2 li {
  margin-left: 5px;
  padding-left: 5px;
  color: black;
  list-style-type: round;
}

li2 {
  
  list-style-type: round;
}

.role {
  width: 80%;
  float: right;
  margin-top: auto;
  margin-right: 20px;
}

p {
  color: black;
}
