.sidebar {
  width: 13.5%;
  float: left;
  background-color: lightgray;
}


img {
  float: left;
}

li {
  list-style-type: none;

}

ul {
  margin-left: 0;
  padding-left: 0;
  color: blue
}

li2 {
  list-style-type: square;
}

